.actions {
  .background;
}

.actions__title-wrapper {
  height: 430px;

  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 20px 180px, 0 0;
}

.actions__list {
  list-style: none;
}

.actions__item:first-child {
  background-color: @color-mango;
}

.actions__item:nth-child(2) {
  background-color: @color-mango-second;
}

.actions__item:nth-child(3) {
  background-color: @color-mango-third;
}

.actions__item:last-child {
  background-color: @color-light-gold;
}
