.actions {
  height: 950px;

  .bg-dark-blue-grey-color-white;
}

.actions__title-wrapper {
  height: 430px;

  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 20px 180px, 0 0;
}

.actions__title {
  width: 270px;
  margin: 0 auto;

  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.actions__blockquote {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.actions__quote {
  margin-bottom: 25px;
}

.actions__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.actions__item {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 270px;
  height: 160px;
  margin: -80px auto 0;

  border-radius: 10px;
}

.actions__item:first-child {
  margin: 0 auto;
  background-color: @color-mango;
}

.actions__item:nth-child(2) {
  background-color: @color-mango-three;
}

.actions__item:nth-child(3) {
  background-color: @color-mango-two;
}

.actions__item:last-child {
  height: 80px;

  background-color: @color-light-gold;
}

.actions__text {
  width: 130px;

  color: @color-dark-two;
}
