.footer {
  background-color: @color-white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.social__list {
  list-style: none;
}

.social__item {
  width: 45px;
  height: 45px;

  background-color: @color-light-gold;
  border-radius: 50%;
}
