.information__wrapper {
  .bg-dark-blue-grey-color-white;
  .border-radius-bottom-20px;
}

.information__title {
  .title(@color-mango);
}

.information__link {
  color: @color-light-gold;

  border-bottom: 1px solid @color-light-gold;
}

.information__phone-number,
.information__email-address {
  color: @color-light-gold;
}

.information__wrapper-map {
  color: @color-dark-blue-grey;

  background-color: @color-light-gold;
  .border-radius-bottom-20px;
}

.map__button {
  .button-index-page;

  border: 1px solid @color-dark-blue-grey;
}
