.bg-dark-blue-grey-color-white() {
  color: @color-white;

  background-color: @color-dark-blue-grey;
}

.button-index-page() {
  box-sizing: border-box;
  width: 270px;
  height: 62px;
  padding-left: 24px;

  font-family: inherit;
  font-size: 18px;
  line-height: 62px;
  text-align: left;
  color: @color-dark-slate-blue;

  background-color: @color-light-gold;
  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.button-index-page-before() {
  content: "";
  position: absolute;
  top: 23px;
  right: 23px;


  width: 10px;
  height: 14px;

  background-image: url("../img/triangle-arrow-right.svg");
  background-repeat: no-repeat;
}

.border-radius-bottom-20px() {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.border-radius-top-20px() {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title(@color) {
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  color: @color;
}

.title-dark-slate-blue() {
  margin: 0;

  font-size: 20px;
  line-height: 20px;
  color: @color-dark-slate-blue;
}


.button-rounded(@width, @bg-color) {
  width: @width;
  height: 40px;

  font-family: inherit;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 40px;
  color: @color-dark-two;

  border: none;
  border-radius: 20px;
  background-color: @bg-color;
}

.small-round-buttons(@size, @bg-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: @size;
  height: @size;

  font-size: 0;
  line-height: 0;

  background-color: @bg-color;
  border-radius: 50%;
}




























