.offers {
  .border-radius-bottom-20px;
}

.offers__title,
.business-tariffs__title {
  .title(@color-mango);
}

.offers__button {
  color: @color-dark-slate-blue;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.business-tariffs__button {
  color: @color-dark-slate-blue;

  border: none;

  background-color: @color-pale-grey-five;
}
