//фоновые цвета
@color-blue: #192144;
@color-grey: #edeff6;
@color-grey-second: #dfe3f0;
@color-grey-third: #d4d9eb;
@color-mango: #ff8d30;
@color-mango-second: #ffa530;
@color-mango-third: #ffbd30;
@color-light-gold: #ffd74b;
//цвета для текста
@color-text-blue: #192144;
@color-text-mango: #ff8d30;
@color-text-gold: #ffd74b;
@color-text-white: #ffffff;
