@color-dark-two: #161c35;
@color-dark-blue-grey: #192144;
@color-dark-slate-blue: #1d2e5b;

@color-pale-grey: #edeff6;
@color-pale-grey-two: #dfe3f0;
@color-light-blue-grey-five: #d4d9eb;
@color-pale-grey-five: #f3f4f8;
@color-pale-grey-four: #e2e5f2;
@color-light-periwinkle: #d6daed;

@color-mango: #ff8d30;
@color-mango-three: #ffa530;
@color-mango-two: #ffbd30;
@color-light-gold: #ffd74b;

@color-white: #ffffff;

